body{
  max-inline-size: 100vw;  /* this keeps the width in point and not letting it go past a certain point.*/
  max-block-size: 100%;    /* this controls the vertical size (top to bottom.*/
  margin: auto 50px;       /*this adds 50pixels of space on the left and right sides of the body.*/
}

footer {
  background-color: #659f8f; /* this applies solid colors as background on an element.*/
  color: #313131;            /* this adds the text-color, a very dark grey.*/
  max-width: 100%;             /* the footer is not allowed to be wider than the full page.*/
  max-height: 100%;            /* footer is not allowed to be taller than 100% of its parent/container.*/
  border-radius: 10px;         /* it gives the corners of the footer curves so they not sharp and square.*/
}

img {
  inline-size: auto;    /* it keeps the width of the image automatetic the browser will decide how wide it should be.*/
  block-size: 21px;     /* set the height of the image to 21 pixels which is small.*/
  padding-bottom: 50px; /* adds 50pixels of empty space below the image.*/
}

.container {
  padding: 12px 6px;      /* adds space inside the box, between the content and the border.*/
  display: flex;          /* turn this container into a flexbox, which is a special layout system to organize items inside.*/
  flex-direction: column; /* stack the items vertically, like a column one on top of the other.*/
  margin: 100px 120px;    /* adds space outside the box, 100px(top&bottom) and 12px(left&right.*/
}

.newsletter {
  flex-shrink: 0;
}
.Technologies {
  margin-right: auto;
}
.links {
  margin-right: auto;
}

.flex {
  display: flex;
}
.content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  align-items: baseline;
}

.subscribe-btn:hover {
  font-size: large;
  cursor: pointer;
}

.subscribe-btn:focus {
  border: 2px solid #fff;
}

.links p {
  white-space: nowrap;
}

a {
  color: #313131;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
a:active {
  color: #da6f19;
}
a:focus {
  color: #fff;
}

hr {
  height: 1px;
  background: #da6f19;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.email-input {
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  font-size: 1em;
  margin-right: 10px;
  margin-bottom: 15px;
}

.subscribe-btn {
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  background-color: #da6f19;
  color: white;
  font-weight: bold;
  font-size: 1em;
}
h1 {
  font-size: 1.6em;
}

    p {
      font-size: 1em;
    }
  

.Heading {
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 959px) {
  .content-container {
    flex-wrap: nowrap;
    flex-shrink: 1;
    gap: 45px;
  }
}

@media (max-width: 800px) {
  .content-container {
    flex-wrap: wrap;
    gap: 70px;
  }
  .newsletter {
    flex-shrink: 1;
  }

  .container {
    margin: 50px 60px;
  }
  h1 {
    font-size: 1.3em;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 50px 30px;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .email-input,
  .subscribe-btn {
    flex: 1;
    min-width: 0;
    padding: 9px 20px;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 1.3em;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 50px 20px;
  }
  .content-container {
    gap: 10px;
    flex-direction: column;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .email-input,
  .subscribe-btn {
    flex: 1;
    min-width: 0;
    padding: 9px 10px;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 10px;
  }

    h1 {
      font-size: 1.3em;
    }
    p {
      font-size: 1em;
    }

  .logo-line{
  height: 2px;
  background-color: #da6f19;
  border: none;
  width: 100%;
  max-width: 200px; 
  margin: 20px auto;
  }

  }